 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A little info about me, I've always had a creative spark and loved art lessons at school, i then went on to study a Digital Design degree at Nottingham Trent University. For the last few years i have worked for a company designing stationary and gifts, i now run my own business in which i create my own designs for templates, art and paper crafts.</p>
                </div>
                <div class="col-lg-4">
                    <p>I can create logo's, word art, vector graphics, stationary design and business card designs,  I am able to work to a brief to help create unique designs in a variety of formats. Thank you for reading.</p>
                </div>
            </div>
        </div>
    </section>